.jumbotron {
    background-color: #F5F5F5;
    padding-bottom: 70px;
}

.mainSearch {
    width: 100%;
    padding: 35px;
    background-color: white;
}

.mainSearch input {
    width: 1350px;
    margin: 0 auto;
    padding: 15px;
    border: solid 1px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.container {
    margin: 20px auto;
}

.pagination-container{
    margin: 30px 0;
}
.btn-primary {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: #008cef;
    transition: 0.3s;
}

.pagination {
    float: right;
    clear: both;
}

.pagination a {
    color: black;
    float: left;
    background-color: white;
    padding: 8px 16px;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.pagination a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    transition: 0.3s;
}

.pagination a.active {
    color: white;
    background-color: #00AEEF;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

