
.jumbotron{
    background: url("account-background.jpg") no-repeat center;
    background-size: cover;
}

.container{
    margin: 100px auto;
}

.user_form{
    background-color: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.user_form input{
    border: 1px solid lightgray;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
}

.user_form input[type="submit"]{
    border: 0;
    color: white;
    font-size: 25px;
}

.user_form h1{
    text-align: center;
}