{# Will extend the header and footer #}
{% extends "core/base.html" %}

{# Title of our page #}
{% block title %}{{ user.username }} | Verifone{% endblock %}

{# Links our CSS #}
{% block styles %}
    {% load staticfiles %}
    <link href="{% static 'oauth/profiles.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">
{% endblock %}

{# All HTML content should go here #}
{% block content %}
    <div class="jumbotron">
        <div class="nameHeader">
            <h1>{{ user.username }}</h1>
        </div>

        <div class="container">
            <div class="pagination-container">
                <a href="{% url "forum:question-create" %}">
                    <div class="btn-primary start-topic-btn">Start a topic</div>
                </a>
                {% if questions.has_other_pages %}
                    <div class="pagination">
                        <a href="#">&laquo; Previous</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">Next &raquo;</a>
                    </div>
                {% endif %}
            </div>
            <div class="question-container">
                {% for question in questions %}

                    <div class="question">
                        <div class="question-details-container">


                            <p><a href="{% url "forum:question" question.id %}">{{ question.title }}</a></p>
                            <p class="question-author">By: <a
                                    href="{% url "oauth:profile" user.username %}">{{ user.username }}</a>
                                Date published: {{ question.date_published }}</p>

                        </div>
                        <div class="num-replies">
                            {{ question.num_replies }} replies
                            <a href="{% url "forum:question-update" question.id %}"><div class="edit">Edit</div></a>
                            <a href="{% url "forum:question-delete" question.id %}"><div class="edit delete">Delete</div></a>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="pagination-container">
                {% if questions.has_other_pages %}
                    <div class="pagination">
                        {% if questions.has_previous %}
                            <a href="#">&laquo; Previous</a>
                        {% endif %}
                        <a href="{% url "oauth:profile" user.username %}?page={{ questions.previous_page_number }}">1</a>
                        {% for num in questions.paginator.page_range %}
                            {% if num == questions.number %}
                                <a class="active"
                                   href="{% url "oauth:profile" user.username %}?page={{ num }}">{{ num }}</a>
                            {% endif %}
                            <a href="{% url "oauth:profile" user.username %}?page={{ num }}">{{ num }}</a>
                        {% endfor %}
                        {% if questions.has_next %}
                            <a href="{% url "oauth:profile" user.username %}?page={{ questions.next_page_number }}">Next
                                &raquo;</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}